{% if include.chart_type %}
<div class="row options charts">
	<h5>사용 가능 차트 : </h5>
	<select id="selCharts">	

	{% for chart in include.chart_type %}
		{% for c in site.data.chart.charts %}
			{% if c.name == chart %}
			<option value="{{ c.value }}" {% if c.name == include.def_chart %}selected="selected"{% endif %}>{{ c.title }}</option>
			{% endif %}
		{% endfor %}
	{% endfor %}

	</select>
</div>
<script type="text/javascript">

	document.getElementById("selCharts").onchange = function() {
		changeChart(this.value);
	}

</script>
{% endif %}
