.sbchart-series-arc text {
  fill: #fff;
  font-size: 11px; }

.sbchart-grid line {
  stroke: #aaa; }

.sbchart-grid-x, .sbchart-grid-y {
  stroke-opacity: 0.3; }

.sbchart-legend-background {
  opacity: .75;
  fill: #fff;
  stroke: #d3d3d3;
  stroke-width: 1; }

.sbchart-legend-item {
  font-size: 10px; }

.sbchart-title {
  font: 16px sans-serif; }

.sbchart-tooltip {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 170px; }

.sbchart-tooltip.show {
  display: block; }

.sbchart-tooltip p.sbchart-tooltip-title {
  padding: 7px 15px;
  color: #fff;
  border-bottom: 1px solid #333;
  font-size: 14px;
  font-weight: bold;
  margin: 0; }

.sbchart-tooltip ul.sbchart-tooltip-cont {
  list-style: none;
  padding: 15px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0; }

.sbchart-tooltip ul.sbchart-tooltip-cont li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  content: ''; }

.sbchart-tooltip ul.sbchart-tooltip-cont li em {
  font-style: normal;
  float: right; }

.sbchart-tooltip ul.sbchart-tooltip-cont li svg {
  width: 10px;
  height: 10px; }

.sbchart-labels {
  font-size: 10px; }
